<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.img.jk.beethelion"
      android:versionCode="3"
      android:versionName="1.1.1"
      android:installLocation="preferExternal"> <!-- It should install on SD-CARD 
      because it was big. Just use installLocation, size of program decrease from 7MB
      to 44KB. I don't know why? -->
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
	<!-- These command are for phone that has no auto focus. -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Use android:name for be able to use global variable. -->
    <application android:name=".GlobalVar" 
    	android:icon="@drawable/icon" android:label="@string/app_name">
    	
        <activity android:name=".mainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".About"
			android:label="@string/about_title"
			android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".ShowTakenPhoto"
			android:label="@string/showtakenphoto_title"
			android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".GardenActivity"
			android:label="Flower Matching"
			android:screenOrientation="portrait">
           <!-- <intent-filter>
               <action android:name="com.img.jk.beethelion.GardenActivity"/>
           </intent-filter> -->
       	</activity>
		
    </application>
</manifest>